*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.banner{
    top: 30px;
    margin: 10px;
    height: 600px;
    z-index: -1000;
    max-width: 100%;
    position: relative;
}
.banner img{

    width: 100%;
    height: 100%;
    z-index: -1000;
    max-width: 100%;
}


.banner2{
    margin: 10px;
    height: 150px;
    top: 35px;
    z-index: -1000;
    max-width: 100%;
    position: relative;
}
.banner2 img{
    width: 100%;
    height: 100%;
    z-index: -1000;
    max-width: 100%;
}
