.registro{
    margin-top: 50px;
    font-family: fantasy;
    font-size: 20px;
 
}

.registro > .contenedor-registro{
    display: flex;
    justify-content: center;
    align-items: center;
}

.registro > .contenedor-registro > .logo img{
    width: 250px;
    height: 250px;
}

.registro > .contenedor-registro > .sesion{

    flex-direction: column;
    justify-content: center;
    align-items: center;
}